body{
    font-family: Arial;
}
.gaming-button{
    border:none;
    padding:10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color:black;
    font-size: 18px;
    cursor: pointer;
}

.is-toggled{
    background-color: black;
    color:white;
}