body{
    background-color: black;
    color:white;
    font-family: Arial;
}

.calculation{
    font-size: 50px;
    font-weight: 600;
}

.action-button,.clear-button{
    background-color: rgb(84, 84, 84);
    height:80px;
    width:80px;
    border-radius:40px;
    border:none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-right:10px;
    margin-bottom: 10px;
    
}

.right-action-button{
    background-color: orange;
}

.clear-button{
    font-size: 20px;
}